.post-link {
  color: #28a745;
}

.post-link:hover {
  text-decoration: none;
  color: #28ab22;
}

.post-title-input {
  display: block;
  border: none;
  outline: none;
  font-size: 2.5rem;
  max-width: 100%;
  min-width: 50%;
  text-align: center;
  margin: 45px auto;
}

.post-title-input:focus {
  border-bottom: 1px solid #28a745;
}

.markdown-preview {
  height: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #28a745;
}

.markdown-preview img {
  max-width: 100%;
}